/*Button component*/

button {
    width: 133px;
    height: 50px;
    color: whitesmoke;
    background-color:#FF4A11;
    border-color: transparent;
    border-radius: 3px;
    align-self: center;
    font-size: 18px;
  }

