/*EtryForm component*/
.EntryTitel {
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  
  #form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
  label {
    text-align: left;
    font-size: 16px;
    font-weight:300;
    margin-bottom: 10px;
  }
  
  #motto__input {
    height: 62px;
    margin-bottom: 40px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
  }
  
  #notes__input {
    height: 124px;
    margin-bottom: 40px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
  }
  